.crosslink-box {
  padding: 24px;
  background-color: $prussian-blue;
  margin-bottom: 12px;

  h3 {
    color: white;
    font-style: normal;
    font-weight: 700;
    font-family: $area-normal;
  }

  p { color: white; }

  a { color: #ccc !important; }
  a:hover { color: #eee !important; }
  
}
